.workout-container {
  display: grid;
  grid-template-columns: 30% 70%;
  justify-content: space-around;
  height: calc(100% - 58px);
  width: 100%;
  margin: 0;
  padding: 0;

  #workout-calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40%;
    height: 100%;

    .calendar-container {
      height: min-content;
    }
  }

  #workout-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;

    .workout-date-title {
      text-align: center;
    }

    .workout-title {
      text-decoration: none;
      color: #000000;
    }

    .workout-title:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    .content-container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 75vh;
    }

    .exercise-container {
      display: flex;
      width: 50%;

      div {
        .exercise-name-container {
          display: flex;
          width: 280px;
        }

        .workout-set-container {
          list-style-type: none;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 25px;
          margin: 0;
          padding: 0;
          padding-left: 10px;
        }
      }
    }
  }
}

.exercise-name-container {
  display: flex;
}
