.workout-container {
  .timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .workout-section {
    .exercise-title {
      display: flex;
      gap: 10px;
    }

    .content-container {
      .show-exercise-container {
        background: #e8eae6;
        width: 282px;
        border: 1px solid #00000020;
        border-radius: 20px 20px 10px 10px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);

        .exercise-name-container {
          display: flex;
          justify-content: space-between;
          width: 280px;
          background: #4a90e2;
          color: #e8eae6;
          padding-right: 5px;
          padding-left: 10px;
          border: 1px solid #00000020;
          border-radius: 10px 10px 0 0;
        }
      }

      .show-set-container {
        ul {
          list-style-type: none;
        }

        .set-container {
          padding: 0;

          .border-here {
            border-bottom: 1px solid #00000050;
            width: 280px;
          }

          .border-here:first-child {
            border-top: 1px solid #00000050;
          }

          .workout-set {
            display: grid;
            align-items: center;
            grid-template-columns: 20px 50px 30px 1fr 1fr 30px;
            margin: 0;
            padding: 0;
          }
        }
      }

      .show-add-button {
        display: flex;
        justify-content: center;
        width: 280px;
      }
    }
  }
}

h5 {
  font-size: 1.13em;
}

.e-set-delete {
  width: 110px;
}