.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.today-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: calc(100% - 108px);
  margin: 0;
  padding: 0;

  .exercise-title {
    display: flex;
    gap: 10px;
  }
}

.exercise {
  ul {
    list-style-type: none;
    padding-left: 0;

    .set-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 300px;
      padding-left: 0;
    }
  }
}

.e-set-delete {
  width: 80px;
}