/* Optional Custom Hover Effects */
.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004eaa;
  color: #fff;
}

.btn-outline-danger:hover {
  background-color: #dc3545;
  color: white;
}

.btn-outline-secondary:hover {
  background-color: #6c757d;
  color: white;
}

#macro-form-container {
  max-width: 500px;
  background-color: #fff;
  margin: 0 auto;
}
