#macro-container {
  display: flex;
  justify-content: space-around;

  #macro-calendar {
    display: flex;
    justify-content: center;
    height: 100vh;
    padding-left: 10vh;
    padding-right: 10vh;


    // div {
    //   height: min-content;
    // }
  }

  #macro-section {
    min-width: 50vh;
  }
}