<% @categories.each do |category| %>
  <h3><%= category.titleize %></h3>
  <ul>
    <% @exercise_types[category]&.each do |exercise_type| %>
      <li><%= exercise_type.name %></li>
    <% end %>
  </ul>
<% end %>
