<div class="row dashboard">
  <section class="col-lg-3 mt-5 border-end border-secondary d-flex align-items-center flex-column p-2">
    <%= render "dbleft", q: @quote%>
  </section>
  <section class="col-lg-5  mt-5 d-flex align-items-center flex-column p-2">
    <%= render "dbmid" %>
  </section>
  <section class="col-lg-4 mt-5 border-start border-secondary p-2 d-flex align-items-center flex-column">
    <%= render "dbright" , grouped_data: @grouped_data %>
  </section>
</div>
