<%# The container tag
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    paginator:     the paginator that renders the pagination tags inside
-%>
<%# Custom simple pagination: << 1 2 3 >> %>
<nav class="pagination" role="navigation" aria-label="Pagination">
  <ul class="pagination-list" style="display: flex; gap: 0.5rem; list-style: none; padding: 0;">
    
    <% if @calculations.prev_page %>
      <li><%= link_to raw("&laquo;"), url_for(page: @calculations.prev_page), class: 'page-link' %></li>
    <% end %>

    <% (@calculations.first_page?..@calculations.last_page?).each do |page| %>
      <li>
        <%= link_to page, url_for(page: page), class: "page-link #{'active' if page == @calculations.current_page}" %>
      </li>
    <% end %>

    <% if @calculations.next_page %>
      <li><%= link_to raw("&raquo;"), url_for(page: @calculations.next_page), class: 'page-link' %></li>
    <% end %>
  </ul>
</nav>


