@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import "shared/navbar";
@import "shared/modal";
@import "shared/form";
@import "workouts/index";
@import "workouts/show";
@import "workouts/edit";
@import "macros/index";
@import "calculators";
@import "dashboard";
@import "devise";
@import "macros/new";
@import "macros/show";
@import "macros/search";
@import "macros/new";

body {
  height: 100vh;
  background: #a4c9d7;
  background: linear-gradient(
    160deg,
    rgba(164, 201, 215, 1) 23%,
    rgba(234, 242, 244, 1) 65%
  );
  --bs-gutter-x: 0;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  padding: 1rem;
}

.color-red {
  color: red;
}

.color-black {
  color: #000000;
}

.black-50 {
  color: #00000050;
}

.justify-end {
  justify-self: end;
}

.justify-center {
  justify-self: center;
}

.up-down-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vert-button {
  display: flex;
  flex-direction: column;
}
