@import "navbar";
@import "workouts/index";
@import "workouts/show";
@import "macros/index";
@import "calculators";
@import "dashboard";

body {
  height: 100vh;
  background: #a4c9d7;
  background: linear-gradient(
    160deg,
    rgba(164, 201, 215, 1) 23%,
    rgba(234, 242, 244, 1) 65%
  );
}

.color-red {
  color: red;
}

.black-50 {
  color: #00000050;
}

.up-down-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
