.calculator {
  max-width: 1800px;
  margin: 2rem;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}
  
.calculator-title {
  text-align: center;
  color: black;
}
  
.form-field {
  background: #f9f9f9;
  border-left: 5px solid #ffca28;
  padding: .5rem;
  margin-bottom: 1rem;
  
  label {
    display: block;
    margin-bottom: 0.2rem;
    font-weight: 600;
    }
  
  input {
    width: 100%;
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid #ccc;
    background: transparent; 
    outline: none; 
    }
}
  
.calculator-form label {
  display: block;
  font-weight: 600;
}
  
.calculator-form input[type="number"],
.calculator-form input[type="date"] {
  width: 100%;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
  
.form-submit {
  margin: 1.5rem 0;
  display: flex;
  justify-content: flex-end;
}
  
.submit-btn {
  padding: 0.75rem 1rem;
  background-color: #ffca28;
  border: none;
  color: black;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    background-color: #f4b400;
    }
}
  
.result-calculator {
  padding: 1rem;
  background: #ffca28;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.notice {
  color: green;
  text-align: center;
  margin-top: 1rem;
  font-size: 0.8rem;
}
  
.alert {
  color: red;
  text-align: center;
  margin-top: 1rem;
  font-size: 0.8rem;
}

.left {
  flex: 1;
  max-width: 600px;
}

.right {
  flex: 1;
  max-width: 1200px;
}
  
.info-box, .history-logs {
  margin: 1rem;
}

.history-logs {
  max-height: 750px;   
  overflow-y: auto;   
}
  
.history-logs table {
  width: 100%;
  border-collapse: collapse;
}
  
.history-logs th, .history-logs td {
  border: 1px solid black;
  padding: 0.5rem;
  text-align: center;
  white-space: nowrap;
}
  
  .history-logs thead tr {
    position: sticky;
    top: 0;
    background-color: #ffca28;
    border-color: black;
    z-index: 1;
}

.view-all {
  text-align: left;
}
  
.view-all a, .back-calc a {
  text-decoration: underline;
  color: #000;
  font-size: 0.8rem;
}
  
.view-all a:hover, .back-calc a:hover {
  color: #ffca28;
}

.back-calc {
  margin: 1rem;
}  